.navbar {
  display: flex;
  background-color: white;
  height: 50px;
}

/* #F8F9FB */

/* DropdownButton.css */
.dropdown-container {
  border: 2px solid #F4F5F8;
  /* border: 2px solid grey; */
  /* background-color: white; */
  /* display: flexbox; */
  /* position: relative; */
  display: inline-block;
  margin: auto 20px;
  /* margin-top: auto; */
  /* align-items: center; */
  border-radius: 5px;
}

.dropdown-button {
  /* color: black; */
  /* text-decoration: none; */
  padding: 4px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  /* margin-top: 15%; */
  border-radius: 5px;
  background-color: white;
  width: 100px;
}

.hamburgerIcon {
  margin: 0px 10px 0px 0px;
}

.dropdownIcon {
  margin: 0px 0px 0px 10px;
}

.dropdown-content {
  background-color: #F8F9FB;
  margin-top: 6px;
  border: 2px solid #F4F5F8;
  display: block;
  position: absolute;
  min-width: 225px;
  box-shadow: 2px 2px 2px 0px rgba(0.1, 0.1, 0.1, 0.1);
  z-index: 3;
  border-radius: 5px;
}

/* Style the dropdown items */
.dropdown-content p {
  color: black;
  color: rgb(104, 108, 118);  /* padding: 12px 16px; */
  /* text-decoration: none; */
  display: block;
  /* margin-top: 10px; */
  margin: auto 5px;
}



.row1{
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  line-height: 12px;
  padding: 4px;
}

.grouping{
  font-size: 10.5px;
  font-weight: 500;
}

.dropdown-button-one{
  /* border: 2px solid red; */
  /* color: black; */
  /* text-decoration: none; */
  padding: 3px;
  font-size: 10px;
  border: 2px solid rgb(180, 183, 192);;
  cursor: pointer;
  /* margin-top: 15%; */
  border-radius: 5px;
  background-color: white;
  width: 70px;
}

.innerDropdown{
  color: rgb(104, 108, 118);  /* padding: 12px 16px; */
  margin: 0px 0px 0px 5px;
}


.userDropdown{
  position: absolute;
  margin-top: 5px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 3px; */
  font-size: 10px;
  border: 2px solid rgb(180, 183, 192);
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  width: 70px;
}

.priorityDropdown{
  position: absolute;
  margin-top: 4px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3px 0px;
  font-size: 10px;
  border: 2px solid rgb(180, 183, 192);
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  width: 70px;
}

@media (max-width: 768px) {
  .navbar {
    height: auto; 
    flex-direction: column; 
    align-items: center; 
  }

  .dropdown-container {
    margin: 10px 0; 
  }

}